// Colors -----------------------------------------
$color-teal: #008080;
$color-navy-blue: #000080;
$color-black: #000000;
$color-white: #FFFFFF;
$color-soft-gray: #DFDFDF;
$color-light-gray: #C0C0C0;
$color-gray: #7F7F7F;